<%= render partial: "shared/navbar"%>

<% if user_signed_in? %>
  <p>Welcome to Budgets <%= current_user.name %></p>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>
