<div class="nav-wrapper">
      <%= link_to "<", model, class: "back-btn" %>
      <a href="#" class="brand-logo center"><%= logo %></a>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "signout-btn" %>
</div>
