<!DOCTYPE html>
<html>
<head>
  <title>Budget App - Splash</title>
</head>
<body> 
<div class='splash-container'>
  <h3 class="app-name">BudgetBuddy</h3>  
  <p class='log-btns'>
    <%= link_to "Log in", new_user_session_path, autofocus: true, class: "waves-effect waves-light sign" %>    
    <%= link_to "Sign up", new_user_registration_path, class: "waves-effect waves-light sign" %>
  </p>
</div>  
</body>
</html>
