/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'materialize';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.login_headers,
.cat-header {
  text-align: center;
  color: rgb(4, 114, 114);
}

.form_container,
.form-inputs {
  padding: 0 2rem;
}

.form_field {
  margin: 2rem 0;
}

.btn {
  color: #fff;
  cursor: pointer;
}

.nav-wrapper {
  background-color: #3778c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-wrapper a {
  color: #fff;
}

.brand-logo {
  font-size: 28px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.img-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-table {
  background-color: #eee7e7;
  height: calc(100vh - 56px);
  position: relative;
  overflow-y: scroll;
  padding-bottom: 10rem;
}

.categories-table .category {
  margin: 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
}

.categories-table .category img {
  max-width: 100px;
  max-height: 100px;
}

.category-name {
  font-size: 20px;
  cursor: pointer;
  padding: 12px;
}

.category-btn-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #5fb523;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}

.add-cat-btn {
  background-color: #5fb523;
  padding: 1rem 4rem;
  text-align: center;
  width: 90%;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
}

.back-btn {
  font-size: 3rem;
}

.signout-btn {
  padding: 1rem;
}
