.app-name {
  color: rgb(4, 114, 114);
}

.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.log-btns {
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
}

.sign {
  padding-bottom: 1rem;
  width: 100%;
  background-color: rgb(4, 114, 114);
}
